doctype html
html 
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/icons/favicon-16x16.png')
            <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title The Forum Project | #{title}

    body(data-alert=`${alert ? alert : ''}`)
        // HEADER
        include _header

        // CONTENT
        block content 
            h1 Placeholder heading


        // FOOTER
        include _footer

        script(src='/js/bundled/index.js' type="module")