extends base

block content
    div.container
        form.form-default.form-updatepassword
            h3.page-title Change your password
            label.form__label(for='password-current') Current Password
            input#password-current.form__input(type='password', placeholder='Please enter your existing password...', required)
            label.form__label(for='password') New Password
            input#password.form__input(type='password', placeholder='Minimum length of 8 characters...', required)
            label.form__label(for='password-confirm') Confirm New Password
            input#password-confirm.form__input(type='password', placeholder='Confirm your new password', required)
            button.update-password.btn Update